@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import "page.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 500;
}

body.no-scroll{
  overflow: hidden;
}

.page {
  padding-top: 139px;
}

.wrapper {
  max-width: 1920px;
  padding: 0 110px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}

.header.scroll {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.06);
}

.header-top {
  position: relative;
  padding: 10px 0;
  background: rgba(0, 48, 104, 0.05);
}

.header-top-inner {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 35px;
}

.nav-list__item svg {
  display: none;
}

.nav-list a,
.pharmacy-link {
  color: #003675;
  /*font-weight: 300;*/
  font-weight: 500;
  transition: 0.3s;
}

.nav-list a:hover,
.pharmacy-link:hover {
  color: #005bc3;
}

.pharmacy-link svg {
  display: none;
}

.header-main-inner {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 7px 0 38px;
}

.assortment-all {
  width: 228px;
  height: 40px;
}

.orange-brn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: radial-gradient(2963.95% 93.85% at 7.66% 50%, #ff8700 0%, #ffa33b 78.67%, #ff8700 100%);
  color: #fff;
  transition: .3s;
}

.orange-brn:hover {
  background: radial-gradient(2963.95% 93.85% at 7.66% 50%, #f58200 0%, #ff8700 100%);
}

.header-logo {
  height: 58px;
}

.header-search {
  position: relative;
  flex-grow: 1;
}

.header-search form {
  position: relative;
  display: flex;
}

.search-input {
  width: 100%;
  border-radius: 6px 0 0 6px;
  background: #edf0f3;
  padding: 11px 20px 12px;
  color: #5e738c;
  font-size: 12px;
  border: 1px solid transparent;
}

.search-input::placeholder {
  color: #5e738c;
}

.search-input:focus {
  border: 1px solid #1783fe;
  background: #fff;
}

.blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #1783fe;
  color: #fff;
  transition: .3s;
  padding: 12px 21px;
  border-radius: 6px;
  cursor: pointer;
}

.blue-btn:hover {
  background: #016fed;
}

.search-btn {
  border-radius: 0 6px 6px 0;
  gap: 5px;
}

.search-btn svg {
  fill: white;
}

.header-search label {
  position: absolute;
  left: 0;
  top: calc(100% + 3px);
  color: #7e7e7e;
  font-size: 12px;
}

.search-cross {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  right: 128px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.search-cross.active {
  display: flex;
}

.main-content {
  position: relative;
}

.main-slider {
  height: 400px;
  border-radius: 15px;
}

.main-slider .slick-arrow {
  display: none !important;
}

.main-slider .slick-list,
.main-slider .slick-track {
  height: 100%;
}

.main-slider__item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 100px;
}

.main-slider__title {
  max-width: 382px;
  max-height: 90px;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.36px;
  margin-bottom: 6px;
}

.dark-text .main-slider__title{
  color: #001023;
}

.dark-text .main-slider__subtitle{
  color: #001023;
}

.main-slider__subtitle {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.main-slider__btn {
  width: 151px;
  height: 40px;
}

.dots-container {
  position: absolute;
  left: 104px;
  bottom: 80px;
}

.dots-slider {
  display: flex;
  gap: 10px;
}

.dots-slider li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #1e86fd;
  cursor: pointer;
}

.dots-slider button {
  display: none;
}

.dots-slider li.slick-active {
  background: #1e86fd;
}

.section-subtitle {
  position: relative;
  color: #003068;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  top: 3px;
}

.section-title {
  color: #003068;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.section-title--link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uk-grid {
  position: relative;
  display: flex;
  gap: 30px;
}

.sticky-block {
  width: 38%;
  flex-shrink: 0;
}

.page-content {
  flex-grow: 1;
  margin-bottom: 60px;
}

.sticky-block__inner,
.detailed-content__item--sticky {
  position: sticky;
  top: 139px;
}

.sticky-block-img {
  display: block;
  position: relative;
  height: 316px;
  border-radius: 10px;
  overflow: hidden;
}

.home-content {
  padding-top: 60px;
}

.benefits {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e7edf4;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 10px;
}

.about-us-link {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 32%;
  border-radius: 8px;
  background: #1783fe;
  padding: 20px;
  flex-shrink: 0;
  transition: .3s;
}

.about-us-link:hover {
  background: #016fed;
}

.benefits-list__item {
  padding: 15px 15px 31px 15px;
  width: calc(50% - 10px);
  border-radius: 10px;
}

.benefits-list__item__title {
  color: #003068;
  font-weight: 700;
  margin: 5px 0;
}

.benefits-list__item__text {
  color: #001023;
  font-size: 12px;
}

.benefits-list__item--bg {
  background: #1783fe;
}

.benefits-list__item--bg .benefits-list__item__title {
  color: #fff;
}

.benefits-list__item--bg .benefits-list__item__text {
  color: #fff;
}

.about-us-link__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-weight: 600;
}

.about-us-link__img {
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 184px;
  height: 184px;
  border-radius: 100%;
}

.about-us-link__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticky-block-img__inner {
  position: relative;
  top: 37px;
}


.sticky-block-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 54.5%;
  padding: 13px 54px 13px 0;
  background: #1783fe;
}

.sticky-block-title__top {
  position: relative;
  right: 48px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

.sticky-block-img img {
  position: absolute;
  max-height: 281px;
  bottom: 10px;
  right: 20%;
}

.sticky-block-img__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 54.5%;
  background: #ff8700;
  padding: 6px 54px 8px 0;
  font-size: 12px;
  color: #fff;
  margin-top: 6px;
}

.sticky-block-img__link:hover {
  background: radial-gradient(2963.95% 93.85% at 7.66% 50%, #f58200 0%, #ff8700 100%);
}

.title-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #003068;
  font-weight: 400;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.news-list__item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #f8f8f8;
  width: calc(20% - (40px / 5));
  overflow: hidden;
  transition: .3s;
}

.news-preview {
  margin-top: 40px;
}

.news-preview .news-list__item {
  width: calc(100% / 3 - (20px / 3));
}

.news-list__item:hover {
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
}

.news-item__img {
  width: 100%;
  height: 151px;
}

.news-item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item__inner {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 46px;
}

.news-item__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 13px;
  color: rgba(0, 48, 104, 0.7);
}

.news-item__description {
  color: #003068;
  font-weight: 600;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: .3s;
}

.news-list__item:hover .news-item__description {
  color: #1783fe;
}

.footer {
  padding: 11px 0;
  background: #1783fe;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  gap: 20px;
}

.footer-copyright span {
  color: #fff;
}

.developer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.burger {
  display: none;
  width: 36px;
}

.burger-img-cross {
  display: none;
}

.burger.active .burger-img-cross {
  display: block;
}

.burger.active .burger-img {
  display: none;
}

.assortment-btn {
  display: none;
}

.result-search {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  border-radius: 6px;
  background: #fff;
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.07);
  padding: 30px;
  display: none;
}

.result-search.active {
  display: block;
}


.success-list__item {
  margin-bottom: 15px;
}

.success-list__item:last-child {
  margin-bottom: 20px;
}

.success-list__item a {
  color: #003675;
  transition: .3s;
}

.success-list__item a:hover {
  color: #1783fe;
}

.search-success__all {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 15px;
  border-top: 1px solid #edf0f3;
  color: #787878;
  transition: 0.3s;
}

.search-success__all:hover {
  color: #005bc3;
}

.search-success__all:hover path {
  fill: #005bc3;
}

.search-fail__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  color: #003675;
  margin-bottom: 20px;
}

.search-fail__text {
  color: #001023;
}

@media (max-width: 1339px) {
  .wrapper {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .uk-grid {
    flex-direction: column;
    gap: 40px;
  }

  .sticky-block {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .assortment-all {
    width: auto;
    padding: 0 12px;
  }

  .assortment-all span {
    display: none;
  }

  .header {
    border-bottom: 1px solid #edf0f3;
  }

  .header.scroll {
    border-bottom: none;
  }

  .header-main-inner {
    padding: 6px 0 15px;
  }

  .header-search label {
    display: none;
  }

  .header-logo img {
    width: 193px;
  }
}

@media (max-width: 768px) {
  .header-logo {
    flex-grow: 1;
  }

  .header-logo {
    width: 193px;
    height: 39px;
  }

  .header-logo img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .header-search {
    width: 100%;
    order: 10;
  }

  .burger {
    display: block;
  }

  .header-main-inner {
    flex-wrap: wrap;
    gap: 15px;
  }

  .search-input {
    padding-left: 40px;
  }

  .search-btn {
    position: absolute;
    left: 0;
    background: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  .search-btn span {
    display: none;
  }

  .search-btn svg {
    fill: #5e738c;
  }

  .search-cross {
    right: 15px;
    width: 23px;
    height: 23px;
    background: #f2f5f7;
    border-radius: 100%;
  }

  .header-top {
    position: fixed;
    width: 100%;
    height: calc(100% - 61px);
    top: 61px;
    z-index: 10;
    background: white;
    border-top: 1px solid #edf0f3;
    padding-top: 0;
    left: -100%;
    transition: .3s;
  }

  .result-search {
    position: absolute;
    width: calc(100% + 30px);
    left: -15px;
    height: calc(100vh - 61px);
    padding: 20px;
  }

  .search-success {
    height: 100%;
  }

  .success-list {
    max-height: 88%;
    overflow: auto;
  }

  .success-list::-webkit-scrollbar {
    width: 4px;
  }

  .success-list::-webkit-scrollbar-thumb {
    background-color: #1783fe;
    border-radius: 18px;
  }

  .header-top.active {
    left: 0;
  }

  .nav-list__item svg,
  .pharmacy-link svg {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
  }

  .nav-list__item,
  .pharmacy-link {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #edf0f3;
  }

  .nav-list__item a,
  .pharmacy-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #003675;
  }

  .header-top-inner {
    flex-direction: column-reverse;
    gap: 0;
  }

  .page {
    padding-top: 126px;
    margin-bottom: 60px;
  }

  .main {
    height: 617px;
    border-bottom: 1px solid #edf0f3;
    overflow: hidden;
  }

  .main .wrapper {
    padding: 0;
  }

  .main-slider {
    height: 377px;
  }

  .main-slider__item {
    position: relative;
  }

  .main-slider__item-container {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: calc(100% + 42px);
    transform: translate(-50%, 0);
    height: initial;
  }

  .main-slider .slick-list {
    overflow: visible;
  }

  .main-slider__title {
    max-width: 345px;
    color: #003675;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.25px;
    margin-bottom: 15px;
    text-align: center;
  }

  .main-slider__subtitle {
    color: #001023;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .dots-container {
    left: 50%;
    top: calc(100% + 12px);
    transform: translate(-50%, 0);
  }

  .home-content {
    padding-top: 40px;
  }

  .section-title {
    font-size: 20px;
    font-weight: 800;
  }

  .benefits-list__item {
    width: 100%;
    padding: 15px;
  }

  .about-us-link {
    display: none;
  }

  .benefits {
    padding-bottom: 36px;
    border-bottom: none;
  }

  .news-preview {
    margin-top: 0;
  }

  .title-link {
    position: absolute;
    right: 0;
    top: -14px;
    color: #1783fe;
  }

  .title-link path {
    fill: #1783fe;
  }

  .news-preview .news-list__item {
    width: 100%;
  }

  .news-item__inner {
    padding: 15px 15px 30px;
  }

  .sticky-block-img {
    margin: 0 -15px;
    height: 288px;
  }

  .page {
    margin-bottom: 0;
  }

  .sticky-block-img img {
    right: 0;
    bottom: 0;
  }

  .sticky-block-img__link {
    padding-right: 20px;
  }
  .sticky-block-title {
    width: 60%;
    padding-right: 40px;
  }

  .assortment-btn {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    border-radius: 6px 6px 0 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-copyright {
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(231, 237, 244, 0.50);
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .page-content {
    margin-bottom: 0;
  }
}


.bread-crumbs {
  padding: 10px 0 20px;
}

.bread-crumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.bread-crumbs-list__item {
  position: relative;
}

.bread-crumbs-list__item a {
  color: #7e7e7e;
  transition: 0.3s;
}

.bread-crumbs-list__item.active a {
  font-weight: 700;
  color: #003675;
}

.bread-crumbs-list__item:hover a {
  color: #005bc3;
}

.bread-crumbs-list__item:not(:last-child) {
  padding-right: 20px;
}

.bread-crumbs-list__item:not(:last-child):before {
  position: absolute;
  content: "/";
  right: 8px;
  top: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #7e7e7e;
}

.btn-scroll-top {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  right: 110px;
  bottom: 110px;
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
  border-radius: 60px;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.btn-scroll-top.active {
  display: flex;
}

.btn-scroll-top:hover {
  background: #1783fe;
}

.btn-scroll-top:hover path {
  fill: white;
}

@media (max-width: 1024px) {
  .btn-scroll-top {
    right: 14px;
    bottom: 120px;
  }
}

.text-page {
  margin: 10px 0;
}

.contracts {
  margin-top: 30px;
}

.contracts-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 52px 20px;
}

.contracts-list:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #e7edf4;
  left: 0;
  top: 50%;
}

.contracts__item {
  width: calc(25% - (60px / 4));
  height: 78px;
}

.contracts__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-us .uk-grid {
  gap: 40px;
  padding-bottom: 60px;
}

body.d-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex-grow: 1;
}

.sticky-block .benefits {
  flex-direction: column;
  padding-bottom: 0;
  gap: 0;
  border: none;
  margin-top: 40px;
}

.header--bb {
  border-bottom: 1px solid #edf0f3;
}

@media (min-width: 1025px) {
  .header--bb .header-main-inner {
    padding-bottom: 37px;
  }
}

@media (max-width: 768px) {
  .contracts-list {
    gap: 0;
  }

  .contracts-list:before {
    content: none;
  }

  .contracts__item {
    position: relative;
    width: 50%;
    padding: 10px 0;
    height: 98px;
    text-align: center;
  }

  .contracts__item:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e7edf4;
    bottom: 0;
    left: 0;
  }

  .contracts__item img {
    max-width: 157px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-arrow-right,
.pagination-arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 40px;
  transition: 0.3s;
}

.pagination-arrow-left {
  margin-right: 20px;
  cursor: pointer;
}

.pagination-arrow-right {
  margin-left: 20px;
  cursor: pointer;
}

.pagination-arrow-left path,
.pagination-arrow-right path {
  width: 8px;
  height: 10px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.pagination-arrow-left:hover path,
.pagination-arrow-right:hover path {
  fill: #1783fe;
}

.pagination-list__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 13px;
  color: #7e7e7e;
  transition: .3s;
  border-radius: 100%;
}

.pagination-list__item.active a {
  color: #003068;
  border: 1px solid #1783fe;
}

.pagination-list__item:hover a {
  color: #1783fe;
  background: #e7edf4;
}

.second-content {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .news-list__item {
    width: calc(33% - (40px / 5));
  }
}

@media (max-width: 768px) {
  .news-list__item {
    width: 100%;
  }
}

.text-page-link {
  color: #1783fe;
  transition: .3s;
}

.text-page-link:hover {
  color: #005bc3;
  transition: .3s;
}

.detailed-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.detailed-content__item {
  width: calc(46% - 20px);
}

.detailed-content__item--sticky {
  width: calc(54% - 20px);
}

.detailed-content__item--sticky h2 {
  display: none;
}

.detailed-content__item img {
  display: block;
  width: 100%;
}

.detailed-content {
  margin-bottom: 60px;
}

.more-news__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-el {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1783fe;
  transition: .3s;
}

.link-el:hover {
  color: #005bc3;
}

.link-el:hover path {
  fill: #005bc3;
}

.more-news__title {
  margin-bottom: 20px;
}

.more-news__title .section-title {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .more-news__inner {
    overflow-x: auto;
  }

  .more-news__inner .news-list {
    flex-wrap: nowrap;
  }

  .more-news__inner .news-list__item {
    width: 231px;
    flex-shrink: 0;
  }
}


@media (max-width: 1024px) {
  .detailed-content {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 30px;
  }

  .detailed-content__item h2 {
    display: none;
  }

  .detailed-content__item.detailed-content__item--sticky h2 {
    display: block;
  }

  .detailed-content__item {
    width: 100%;
  }

  .detailed-content__item--sticky {
    position: static;
  }
}

.pharmacy-header {
  padding-bottom: 40px;
  border-bottom: 1px solid #edf0f3;
  margin-bottom: 40px;
}

.search-pharmacy {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 17px 30px 18px;
  border-radius: 6px;
  background: #f1f5fa;
}

.search-pharmacy__text__title {
  color: #003068;
  font-size: 20px;
  font-weight: 800;
}

.search-pharmacy__text__name {
  color: #1783fe;
  font-size: 16px;
  font-weight: 800;
}

.from-pharmacy {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.from-pharmacy label {
  max-width: 191px;
  color: #5e738c;
  font-size: 12px;
}

.from-pharmacy input {
  width: 75%;
  border-radius: 6px;
  background: #fff;
  padding: 12px 20px 13px;
  color: #5e738c;
  font-size: 12px;
}

.pharmacy-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pharmacy-data-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pharmacy-last-update {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 6px;
  background: #f2f5f8;
}

.pharmacy-last-update__text {
  color: #5e738c;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.pharmacy-last-update__data {
  color: #003675;
  font-size: 13px;
  font-weight: 700;
}

.pharmacy-contact {
  display: flex;
  align-items: center;
  gap: 68px;
}

.pharmacy-contact__location {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #001023;
}

.pharmacy-contact__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #001023;
}

.pharmacy-contact__phone span {
  font-weight: 700;
}

.pharmacy-select {
  z-index: 3;
}

.jq-selectbox__select {
  width: 281px;
  min-height: 40px;
  border-radius: 6px;
  padding: 11px 20px 12px;
  font-size: 12px;
  color: #003068;
  font-weight: 600;
  border: 1px solid rgba(0, 48, 104, 0.05);
  background: #f2f5f8;
  cursor: pointer;
}

.jq-selectbox__select {
  position: relative;
}

.jq-selectbox__select:after {
  position: absolute;
  content: url("../assets/img/arrow-bottom.svg");
  top: 11px;
  right: 19px;
}

.jq-selectbox.opened .jq-selectbox__select {
  border-radius: 6px;
  border: 1px solid #1783fe;
}

select.custom-select {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  left: 0;
  z-index: -1;
}

.custom-select {
  position: relative;
}

.jq-selectbox__dropdown {
  position: absolute;
  height: min-content !important;
  top: 44px !important;
  width: 100% !important;
  border-radius: 6px;
  border: 1px solid rgba(0, 48, 104, 0.05);
  background: #fff;
  /* Hover (cards) */
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
}

.jq-selectbox__dropdown li {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #003068;
  padding: 12.5px 20px 12.5px;
  transition: 0.3s;
  cursor: pointer;
}

.jq-selectbox__dropdown li:nth-child(even) {
  background: #f9f9f9;
}

.jq-selectbox__dropdown li:hover {
  position: relative;
  background: #e7edf4;
  color: #003068;
  border-color: transparent;
}

.jq-selectbox__dropdown ul {
  max-height: 280px !important;
  overflow: auto;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar {
  width: 4px;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #1783fe;
}

.jq-selectbox * {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.pharmacy-table {
  border-radius: 6px;
  border: 1px solid #e6ebf1;
  overflow: hidden;
}

.pharmacy-table-header {
  background: #1783fe;
}

.pharmacy-table-header .row-inner * {
  color: #fff;
  font-weight: 700;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  transition: .3s;
  z-index: 1;
}

.pharmacy-table-body .row:hover {
  background: #f9f9f9;
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
  z-index: 2;
}

.row-inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.pharmacy-table-body .row:nth-child(even) {
  background: #f9f9f9;
}

.pharmacy-table-body .row:not(:last-child) {
  border-bottom: 1px solid #e7edf4;
}

.pharmacy-table .row-inner:first-child {
  width: 84%;
}

.pharmacy-table .row-inner:last-child {
  width: 16%;
}

.pharmacy-table__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5%;
  color: #001023;
}

.pharmacy-table__product {
  width: 66%;
  color: #003675;
  font-weight: 700;
  transition: .3s;
}

a.pharmacy-table__product:hover {
  color: #1783fe;
}

.pharmacy-table__maker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5%;
  color: #001023;
}

.pharmacy-table__recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
}

.pharmacy-table__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: #003675;
  font-weight: 700;
  font-size: 14px;
}

.pharmacy-table__cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: #001023;
}

.row-inner span {
  display: none;
}

.pharmacy-table .row-inner > div,
.pharmacy-table .row-inner > a {
  padding: 22px 0;
}

.pharmacy-table-btn {
  max-width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #003675;
  font-weight: 700;
  margin: 30px auto 0;
  transition: .3s;
}

.pharmacy-table-btn:hover {
  color: #005bc3;
}

@media (max-width: 1150px) {
  .search-pharmacy {
    flex-direction: column;
    gap: 28px;
  }

  .search-pharmacy__text {
    text-align: center;
  }

  .from-pharmacy {
    width: 100%;
  }

  .pharmacy-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .pharmacy-data {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .from-pharmacy {
    flex-direction: column;
    gap: 10px;
  }

  .from-pharmacy label {
    max-width: 100%;
    text-align: center;
  }

  .from-pharmacy input {
    width: 100%;
  }

  .search-pharmacy {
    padding: 30px 15px;
  }

  .pharmacy-data {
    margin-bottom: 20px;
  }

  .pharmacy-data-content {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .pharmacy-last-update,
  .jq-selectbox__select,
  .pharmacy-select {
    width: 100%;
  }

  .pharmacy-contact {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .pharmacy-table {
    border: none;
    border-radius: 0;
    border-top: 1px solid #e7edf4;
    border-bottom: 1px solid #e7edf4;
  }

  .pharmacy-table-header,
  .pharmacy-table__num {
    display: none;
  }

  .pharmacy-table-body .row:nth-child(even) {
    background: transparent;
  }

  .pharmacy-table-body .row-inner {
    flex-direction: column;
  }

  .pharmacy-table .row-inner > div, .pharmacy-table .row-inner > a {
    padding: 0;
  }
  .pharmacy-table__num,
  .pharmacy-table__product,
  .pharmacy-table__maker,
  .pharmacy-table__recipe {
    width: 100%;
    justify-content: flex-start;
  }

  .pharmacy-table__price,
  .pharmacy-table__cnt {
    width: 100%;
    justify-content: flex-end;
  }

  .row-inner span {
    display: block;
  }

  .pharmacy-table__product {
    margin-bottom: 5px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .pharmacy-table__maker {
    margin-bottom: 5px;
  }

  .pharmacy-table__recipe {
    gap: 5px;
  }

  .pharmacy-table .row {
    gap: 10px;
    padding: 20px 18.5px;
  }

  .pharmacy-table__price {
    color: #1783fe;
  }

  .pharmacy-table__cnt {
    gap: 5px;
    color: #7e7e7e;
  }

  .pharmacy-table .row-inner:first-child {
    width: calc(71% - 5px);
  }

  .pharmacy-table .row-inner:last-child {
    width: calc(29% - 5px);
  }

  .pharmacy-table .row {
    align-items: flex-start;
  }
}

.product-card {
  display: flex;
  gap: 50px;
  margin-bottom: 60px;
}

.product-card-slider {
  position: relative;
  height: 580px;
  width: 580px;
  flex-shrink: 0;

}

.product-card-slider .slick-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: 50%;
  transform: translate(0, -50%);
  transition: .3s;
  cursor: pointer;
  z-index: 1;
}

.product-card-slider .slick-arrow path {
  fill: #5e738c;
}

.product-card-slider .slick-arrow:hover {
  background: #f8f8f8;
}

.product-card-slider .slick-arrow:hover path {
  fill: #1783fe;
}

.product-card-slider .slick-arrow.prev {
  left: 20px;
}

.product-card-slider .slick-arrow.next {
  right: 20px;
}

.product-card-content {
  flex-grow: 1;
}

.product-card-slider__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-price {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  color: #1783fe;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
}

.product-price span {
  color: #003675;
  font-size: 24px;
  font-weight: 400;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  border-top: 1px solid #edf0f3;
}

.product-description__el {
  width: 100%;
  display: flex;
  align-self: center;
  gap: 10px;
}

.product-description__el span:first-child {
  color: #7e7e7e;
}

.product-description__el span + span {
  color: #001023;
}

.product-info {
  padding: 12px 12px 20px;
  border-radius: 6px;
  background: #f1f5fa;
  margin-top: 30px;
}

.product-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background: #fff;
  padding: 8px 8px 8px 15px;
}

.product-location__text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #001023;
}

.btn-bw {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #003675;
  font-weight: 700;
  line-height: normal;
  padding: 10px 30px;
  border-radius: 6px;
  border: 1px solid #1783fe;
  transition: .3s;
}

.btn-bw svg {
  position: relative;
  top: 1px;
}

.btn-bw:hover {
  background: #1783fe;
  color: white;
}

.btn-bw:hover path {
  fill: white;
}

.product-phone {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 15px;
  padding: 22px 0 17px;
}

.product-phone__number {
  color: #001023;
}

.product-phone__icon svg {
  display: block;
}

.product-phone:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 1px;
}

.product-phone__number span {
  font-weight: 700;
}

.work-time {
  position: relative;
  padding-left: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.work-time:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/img/clock.svg") no-repeat center;
}

.work-time__el {
  display: flex;
  gap: 10px;
}

.work-time__el:not(:last-child) {
  margin-bottom: 4px;
}

.work-time__day {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 57px;
  color: #434343;
}

.work-time__el span + span {
  color: #001023
}

.product-card-slider div {
  height: 100%;
}

.pharmacy-table__store-link {
  color: #003675;
  font-weight: 700;
  transition: .3s;
}

.pharmacy-table__store-link:hover {
  color: #1783fe;
}

.pharmacy-table__store-updated {
  color: #5e738c;
  font-size: 12px;
  margin-top: 2px;
}

.pharmacy-table__location {
  display: flex;
  align-self: center;
  gap: 10px;
}

.pharmacy-table__work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #5e738c;
}

.pharmacy-table__phone {
  display: flex;
  justify-content: center;
}

.pharmacy-table__phone svg {
  display: none;
}

.pharmacy-table__phone__number {
  color: #003675;
}

.pharmacy-table__phone__number span {
  font-weight: 700;
}

.pharmacy-table__price-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pharmacy-table__price-block-rate {
  display: flex;
  gap: 5px;
  color: #003675;
  font-size: 14px;
  font-weight: 700;
}

.pharmacy-table__price-block-cnt {
  color: #7e7e7e;
  font-size: 12px;
}

.pharmacy-table__phone span {
  display: flex;
  align-items: center;
}

.pharmacy-table-product .row-inner:first-child {
  width: 73%;
}

.pharmacy-table-product .row-inner:last-child {
  width: 27%;
  flex-grow: 1;
}

.pharmacy-table__store {
  width: 37%;
}

.pharmacy-table.pharmacy-table-product .row-inner > div {
  padding: 13.5px 0;
}

.pharmacy-table .row-inner > div.pharmacy-table__store {
  padding-left: 20px;
}

.pharmacy-table__location {
  width: 44%;
}

.pharmacy-table__work {
  width: 19%;
}

.pharmacy-table__phone {
  width: 63%;
}

.pharmacy-table__price-block {
  width: 37%;
  justify-content: flex-end;
}

.pharmacy-table.pharmacy-table-product .row-inner > div.pharmacy-table__price-block {
  padding-right: 20px;
}

.product-card-slider__title-mobile,
.product-price--mobile,
.product-location__text__name {
  display: none;
}

@media (max-width: 1200px) {
  .product-card-slider__title-mobile {
    display: block;
  }

  .product-price--mobile {
    display: flex;
    align-items: flex-end;
  }

  .product-price span {
    margin-bottom: 2px;
  }

  .product-card-slider {
    width: 100%;
  }

  .product-card {
    flex-direction: column;
  }

  .product-card-content .section-title,
  .product-card-content .product-price {
    display: none;
  }

  .product-card {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .pharmacy-table-product .row-inner:first-child {
    width: calc(71% - 5px);
    align-items: flex-start;
    gap: 5px;
  }

  .pharmacy-table-product .row-inner:last-child {
    width: calc(29% - 5px);
  }

  .pharmacy-table__store,
  .pharmacy-table__location,
  .pharmacy-table__work {
    width: 100%;
    justify-content: flex-start;
  }

  .pharmacy-table.pharmacy-table-product .row-inner > div,
  .pharmacy-table.pharmacy-table-product .row-inner > div.pharmacy-table__price-block {
    padding: 0;
  }

  .pharmacy-table__phone,
  .pharmacy-table__price-block {
    width: 100%;
    justify-content: flex-end;
  }

  .pharmacy-table-product .row-inner:last-child {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .pharmacy-table__phone span.pharmacy-table__phone__number {
    display: none;
  }

  .pharmacy-table__phone svg {
    display: block;
  }

  .pharmacy-table__price-block-rate {
    color: #1783fe;
  }
}

@media (max-width: 768px) {
  .product-card-slider {
    height: 345px;
  }

  .product-location {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 10px;
  }

  .product-location__text-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }

  .product-location__text__name {
    display: block;
    color: #5e738c;
  }

  .product-location__btn {
    justify-content: center;
    width: 100%;
  }

  .pharmacy-table__location {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pharmacy-table__location svg {
    flex-shrink: 0;
    margin-right: 10px;
  }

  .product-price {
    margin-top: 20px;
  }
}

.work-time__weekend span,
.work-time__weekend span + span {
  color: #43648a;
}

.pharmacy-list{
  border: 1px solid #E7EDF4;
  border-radius: 6px;
  margin-top: 40px;
}

.pharmacy-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  transition: .3s;
}

.pharmacy-item:not(:last-child){
  border-bottom: 1px solid #E7EDF4;
}

.pharmacy-item:hover{
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
}

.pharmacy-item__inner{
  display: flex;
  align-items: center;
  width: 50%;
  gap: 60px;
}

.pharmacy-item__img {
  width: 164px;
  height: 123px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}

.pharmacy-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pharmacy-item__description{
  display: flex;
  flex-direction: column;
}

.pharmacy-item__name{
  color: #003675;
  font-size: 16px;
  margin-bottom: 10px;
  transition: .3s;
  font-weight: 800;
}

.pharmacy-item__name:hover{
  color: #1783FE;
}

.pharmacy-item__location{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pharmacy-item__location__place{
  color: #001023;
  font-size: 14px;
}

.pharmacy-item__location__brand{
  font-size: 14px;
  color: #5E738C;
}

.pharmacy-item__btn{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #003068;
  transition: .3s;
}

.pharmacy-item__btn:hover{
  color: #1783FE;
}

.pharmacy-item__phone-list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.pharmacy-item__phone-list .product-phone{
  margin: 0;
  padding: 0;
}

.pharmacy-item__phone-list .product-phone:not(:first-child) svg{
  display: none;
}

.pharmacy-item__phone-list .product-phone:before{
  content: none;
}

.pharmacy-item-work .work-time{
  margin: 0;
}

.pharmacy-item_ .work-time__el:not(.work-time__weekend) span + span{
  color: #001023;
}

@media (min-width: 1500px) {
  .pharmacy-item .pharmacy-item__inner + .pharmacy-item__inner{
    justify-content: space-around;
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .pharmacy-item{
    flex-direction: column;
    gap: 20px;
    padding: 30px 10px;
  }

  .pharmacy-item__inner{
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .pharmacy-item__btn{
    justify-content: center;
    width: 304px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #1783FE;
  }

  .pharmacy-item__inner:last-child{
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
  }

  .pharmacy-item__description{
    align-items: center;
  }

  .pharmacy-item__inner:last-child{
   justify-content: center;
    padding-top: 26px;
    border-top: 1px solid #EDF0F3;
  }

  .pharmacy-item .pharmacy-item__location__place{
    max-width: 281px;
    color: #5E738C;
  }

  .pharmacy-item .pharmacy-item__location__icon,
  .pharmacy-item__location__brand{
    display: none;
  }

  .pharmacy-item__name{
    max-width: 300px;
    text-align: center;
  }

  .pharmacy-item__location__place{
    text-align: center;
  }

  .pharmacy-item .product-phone{
    gap: 5px;
  }

  .pharmacy-item .work-time__day{
    width: 50px;
    gap: 3px;
  }
  .pharmacy-item  .work-time__el{
    gap: 5px;
  }

  .pharmacy-item  .work-time {
    position: relative;
    padding-left: 26px;
  }

  .pharmacy-item  .product-phone__icon svg{
    width: 18px;
    height: 18px;
  }
}


.sticky-block__inner >:first-child{
  margin-top: 0;
}

.vacancies .title_h2{
  max-width: 560px;
  margin-bottom: 15px;
}

.vacancies-list{
  border-radius: 6px;
  border: 1px solid #E7EDF4;
  margin-top: 30px;
}

.vacancies .uk-grid{
  gap: 42px;
}

.vacancies-list__item{
  padding-bottom: 30px;
  padding-left: 30px;
  transition: .3s;
}

.vacancies-list__item:not(:last-child){
  border-bottom: 1px solid #E7EDF4;
}

.vacancies-list__header{
  padding: 30px 30px 10px 0;
}

.vacancies-salary{
  color: #5E738C;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.vacancies-position{
  color: #003068;
  font-size: 16px;
  font-weight: 700;
}

.vacancies-list__title{
  color: #003068;
  font-size: 13px;
  font-weight: 700;
  margin-top: 5px;
}

.job-response{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 202px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #1783FE;
  color: #003675;
  font-weight: 700;
  margin-top: 20px;
  transition: .3s;
  cursor: pointer;
}

.job-response:hover{
  background: #1783FE;
  color: white;
}

.job-response:hover path{
  fill: white;
}

.vacancies-list__body{
  display: none;
  padding: 0 30px 15px 0;
}

.vacancies-list__item:hover{
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.10);
}

.vacancies-list__btn{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #003675;
  transition: .3s;
  cursor: pointer;
}

.vacancies-list__btn:hover{
  color: #005BC3;
}

.vacancies-list__btn.active svg{
  position: relative;
  top: 3px;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .vacancies-list__btn:hover,
  .vacancies-list__btn.active{
    color: #1783FE;
  }

  .vacancies-list__btn:hover path,
  .vacancies-list__btn.active path{
    fill: #1783FE;
  }
}

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(65, 65, 65, 0.54);
  z-index: 11;
}

.overlay.active{
  display: block;
}

.modal{
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50% , -50%);
  max-width: calc(1130px - 30px);
  width: 100%;
  padding: 40px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 2px 4px 16px 0px rgba(0, 32, 69, 0.07);
  z-index: 12;
}

.modal.active{
  left: 50%;
}

.modal-cross{
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}

.modal-body--resume{
  display: flex;
  align-items: center;
  gap: 24px;
}

.form-vacation{
  width: calc(50% - 12px);
}

.modal-resume__img{
  width: calc(50% - 12px);
}

.modal-resume__img img{
  width: 100%;
}

.form-group{
  position: relative;
  margin-bottom: 15px;
}

.form-group.error{
  margin-bottom: 10px;
}

.form-group label{
  display: block;
  color: #5E738C;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 48, 104, 0.05);
  background: #F2F5F8;
  padding: 11px 20px 12px;
  font-size: 12px;
  transition: .3s;
  color: #5E738C;
}

.form-group textarea{
  height: 119px;
  resize: none;
}

.form-group input:hover,
.form-group textarea:hover{
  border: 1px solid #1783FE;
  background: #F2F5F8;
  box-shadow: 0px 0px 4px 0px rgba(23, 131, 254, 0.30);
}

.form-group input:focus,
.form-group textarea:focus{
  background: #FFF;
}

.form-error{
  top: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  color: #F00;
  font-size: 12px;
  font-weight: 400;
}

input[type="file"],
input[type="checkbox"]{
  display: none;
}

.fl_upld{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgba(0, 48, 104, 0.05);
  background: #F2F5F8;
}

.fl_upld label{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #1783FE;
  background: #F1F5FA;
  margin: 0;
  cursor: pointer;
  color: #003675;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  padding: 9px 0;
  transition: .3s;
  flex-shrink: 0;
}
.fl_upld label:hover{
  background: #1783FE;
  color: white;
}

.fl_upld label:hover path{
  fill: white;
}

.form-group .checkbox-label{
  position: relative;
  display: inline-block;
  color: #001023;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  padding-left: 32px;
}

.checkbox-label:before{
  position: absolute;
  content: "";
  left: 0;
  top: -3px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #E6EBF1;
  background: #F2F5F8;
}

.checkbox-inner input:checked + .checkbox-label:after{
  position: absolute;
  content: url("../assets/img/checked.svg");
  left: 4px;
  top: 1px;
}

.checkbox-inner a{
  color: #1783FE;
  font-size: 12px;
  font-weight: 400;
}

.btn-resume{
  margin-top: 30px;
}

@media (max-width: 1150px) {
  .modal{
    width: calc(100% - 30px);
  }

  .modal-resume__img{
    display: none;
  }

  .form-vacation{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal{
    padding: 40px 25px 30px;
  }

  .fl_upld{
    overflow: hidden;
  }

  .fl_upld label{
    width: 160px;
  }

  .btn-resume{
    width: 100%;
  }

  .form-group .checkbox-label{
    margin-left: -32px;
  }

  .checkbox-inner{
    padding-left: 32px;
  }

  .vacancies .uk-grid{
    margin-bottom: 60px;
  }
}

.list-page__item a{
  color:  #003675;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.list-page__item:not(:last-child){
  margin-bottom: 10px;
}

._404{
  position: relative;
}

._404-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

._404__title{
  color: #003675;
  font-size: 116px;
  font-weight: 900;
}

._404__subtitle{
  max-width: 371px;
  margin: 15px auto 30px;
  color: #003675;
}

._404-btn{
  width: 222px;
  margin: 0 auto;
}

._404__img{
  text-align: right;
}


@media (max-width: 1024px) {
  ._404-content{
    position: static;
    transform: none;
  }

  ._404__img{
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  ._404__title{
    font-size: 81px;
  }

  ._404__subtitle{
    max-width: 344px;
  }
}

.contacts-list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.contact-list__item{
  width: calc(50% - 20px);
}

.contact-item__title{
  color: #003675;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}

.contact-item__doc{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 15px;
}

.contact-item__license{
  color: #001023;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-item__license strong{
  font-weight: 700;
}

.contact-item-inner{
  border-radius: 6px;
  background: #F1F5FA;
  padding: 20px;
}

.contact-item__el{
  display: flex;
  gap: 10px;
}

.contact-item__el__icon{
  flex-shrink: 1;
}

.contact-item__el__title{
  font-weight: 700;
}

.contact-item__el__text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-item__el:not(:last-child){
  margin-bottom: 10px;
}

.phone-list{
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.phone-list__item a{
  color: #001023;
}

.phone-list__item strong{
  font-weight: 700;
}

.bank-data{
  margin-top: 15px;
}

.bank-data__el{
  color: #001023;
}

.bank-data__el strong{
  font-weight: 700;
}

.form-group--checkbox{
  margin-bottom: 30px;
}

.contact-form-block{
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.contact-form{
  width: 50%;
  padding-left: 90px;
}
.contact-form__img{
  width: 50%;
}

.contact-form__img{
  text-align: center;
}


@media (max-width: 1024px) {
  .contacts-list{
    flex-direction: column;
    gap: 40px;
  }

  .contact-list__item{
    width: 100%;
  }

  .contact-form-block{
    margin-top: 40px;
  }

  .contact-form__img{
    display: none;
  }

  .contact-form{
    width: 100%;
    padding: 0 25px;
  }

  .contact-item__title{
    font-size: 16px;
    min-height: initial;
  }

  .bank-data__el{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .bank-data__el:nth-child(2){
    margin: 5px 0;
  }

  .contact-form button{
    width: 100%;
  }
}

.result-search-info{
  color: #001023;
  margin-bottom: 20px;
}

.result-search-info span{
  color: #003675;
  font-weight: 700;
}

.pharmacy-table__name a{
  color: #003675;
  font-weight: 700;
  transition: .3s;
}

.pharmacy-table__name a:hover{
  color: #1783FE;
  font-weight: 700;
}

.pharmacy-table__update__name{
  color: #003675;
  font-weight: 700;
  margin-bottom: 2px;
}

.pharmacy-table__update__result{
  color: #5E738C;
  font-size: 12px;
  font-weight: 400;
}

.pharmacy-table__address__item{
  color: #001023;
}

.pharmacy-table__address__work{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5E738C;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .pharmacy-table-product--big .pharmacy-table__recipe{
    display: none;
  }

  .pharmacy-table__price-block-rate span{
    display: none;
  }
}

.pharmacy-table-product .row-inner:first-child{
  width: 75.3%;
  flex-grow: 0;
}

.pharmacy-table-product--big .row-inner:last-child {
  width: 24.7%;
  flex-grow: 0;
}

.pharmacy-table-product--big .pharmacy-table__phone{
  width: 49%;
  flex-shrink: 0;
}

.pharmacy-table-product--big.pharmacy-table-product .row-inner > div.pharmacy-table__price{
  padding-left: 15px;
}

.pharmacy-table-product--big .pharmacy-table-header .row-inner > div{
  font-size: 13px;
}


.pharmacy-table__recipe_desc{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  flex-shrink: 0;
}

.pharmacy-table-product--big .pharmacy-table__price-block{
  width: 29%;
  padding-right: 15px;
  flex-shrink: 0;
}


.pharmacy-table-product--big .pharmacy-table__num{
  width: 6%;
}


.pharmacy-table.pharmacy-table-product--big .row-inner > div.pharmacy-table__name {
  width: 33.2%;
  padding-left: 20px;
  padding-right: 20px;
}

.pharmacy-table.pharmacy-table-product--big .row-inner > div.pharmacy-table__update{
  width: 23.6%;
  padding-left: 20px;
  padding-right: 20px;
}

.pharmacy-table.pharmacy-table-product .row-inner > div.pharmacy-table__address{
  width: 37.2%;
  padding-left: 20px;
  padding-right: 20px;
}


@media (max-width: 1024px) {
  .pharmacy-table.pharmacy-table-product--big .row-inner > div{
    width: 100% !important;
    padding: 0 !important;
  }

  .pharmacy-table__recipe_desc{
    display: none;
  }

  .pharmacy-table__update__name{
    color: #5E738C;
    margin-bottom: 5px;
  }

  .pharmacy-table__update{
    margin-bottom: 5px;
  }

  .pharmacy-table__recipe{
    margin-top: 5px;
  }

  .pharmacy-table__address__item{
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pharmacy-table__address__item:before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url("../assets/img/location.svg") no-repeat;
    left: 0;
    top: 2px;
  }

  .pharmacy-table-product--big .pharmacy-table__phone{
    width: 100%;
  }

  .pharmacy-table-product--big .row-inner:last-child{
    align-self: stretch;
    justify-content: space-between;
  }

  .pharmacy-table-product--big .row:nth-child(even){
    background: #F9F9F9;
  }

  .pharmacy-table__name{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; /
  }
}

.map-content{
  height: 423px;
}

.map-content img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .map-content{
    height: 382px;
  }

  .job-response{
   width: 100%;
  }
}











